@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Heebo', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #bab1c22f;
	min-height: 100%;
	
}

section{
	position: relative;
	margin-top: 3%;
	
}

section::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container
{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 100px;
}

.container .card{
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.5;
	transition: 0.5s;
}

.container .card:hover .content{
	opacity: 1;
	
}

.container .card .content .imgBox{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid rgba(0,0,0,0.25);
	margin-bottom: 10px;
}

.container .card .content .imgBox img{
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBox h3{
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	text-align: center;
	margin: 20px e 10px;
	Line-height: 1.1em;
	
}

.container .card .content .contentBox h3 span{
	font-size: 12px;
	font-weight: 30ee;
	text-transform: initial;
}

.container .card .sci{
	 position: absolute;
	 bottom: 50px;
	 display: flex;
}

.container .card .sci li{
	List-style: none;
	margin: 0 10px;
	transform: traslateY(40px);
	opacity: 0;
	transition: 0.5s;
}

.container .card:hover .sci li
{
	transform: traslateY(0px);
	opacity: 1;
}

.container .card .sci li a{
	color: black;
	font-size: 24px;
}

.messageBox{
	margin-top: 5%;
	position: relative;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-radius: 15px;
	display: flex;
	padding: 10px;
	text-align: center;
	transition: height 2s;
}