@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    position: static;
    bottom:0;
    width: 100%;
    background-color: #2d2a30;
    padding: 50px 0; 
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1400px;
    margin: auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-left h3{
    color: #ffff;
   font: normal, 36px, 'Poppins', sans-serif;
   margin: 0;
}

.footer-left .footer-links{
   margin: 15px 0 10px;
}

.footer-links
{
    color: #fff;
}

.footer-left .footer-links a{
   display: inline-block;
   line-height: 1.8;
}

.footer-left .footer-copyright{
    color: #8f9296;
   font-size: 18px;
   font-weight: normal;
   margin: 0;
}

.footer-left, .footer-col{
    width: 24%;
    padding: 0 15px;
}

footer ul{
    list-style: none;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a, .cont, .footer-links a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.5s ease;
}

.footer-col ul li a:hover, .footer-links a:hover{
    color: #ffffff;
    padding-Left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.icons i{
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.icons p{
    display: inline;
    text-transform: lowercase;
}

@media(max-width: 767px){
    .footer-col, .footer-left {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
    .footer-col , .footer-left{
     width: 100%;
    }
}
