/*first section style*/

.boxForMainText{
    width:100%;
    height:auto;
    padding-bottom: 5vh;
}

.supportBox{
    padding-top:1%;
    width:62%;
    height:100%;
    margin:auto;
}

.titleOfMainText{
    font-family: 'Nunito', sans-serif;
    font-size:43px;
    text-align:center;
    margin-top:4%;
}

.contentOfTheBox{
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    text-align:center;
}

#readMore{
    font-family: 'Nunito', sans-serif;
    font-size:35px;
    text-align:center;
    color:#6f2232;
    margin-top:5px;
}

#readMoreLink{
    text-decoration:none;
    color:#6f2232;
}

/*second section style*/

#spaceMain{
    padding: 4% 0 4% 0;
    width:100%;
    height: auto;
    background-color: #f2f2f0;
    display: flex;
}

#spaceImage{
    margin: auto;
    width:65%;
    height:auto;
}

/*third section style*/

#imageAndText{
    width:100%;
    height:auto;
    padding-bottom: 3vh;
    display: flex;
    justify-content: space-evenly;
}


#imageMain{
    width:30%;
    height:67vh;
    margin: 7.5vh 0 7.5vh 0;
    background-image: url("../Images/homePage_img.jpg");
    background-size: contain;
    background-repeat: round;
}

.textDiv{
    width:50%;
    height:auto;
    margin-top:17vh;
}

.DivOfTitleOfTextDiv{
    width:55%;
    height:7vh;
    margin:auto;
    border-left-style:solid;
    border-right-style:solid;
    border-left-color:#6f2232;
    border-right-color:#6f2232;
}

.titleOfTextDiv{
    font-size: 40px;
	font-family: 'Nunito', sans-serif;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
}

.contentOfTheImageAndText{
    font-size: 30px;
	font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    text-align:center;
}

/*responsive style*/

@media screen and (max-width: 1200px){

	#imageMain{
        width:44%;
        margin-left: 28%;
    }

    .textDiv{
        width:85%;
        margin-left: 7.5%;
        margin-top:10vh;
    }

    #imageAndText{
        display: block;
    }

    .titleOfTextDiv{
        font-size: 35px;
    }

    .DivOfTitleOfTextDiv{
        height:6vh;
    }
}

@media screen and (max-width: 1000px){

	.titleOfMainText{
        font-size:40px;
    }

    .contentOfTheBox{
        font-size: 26px;
    }

    .supportBox{
        width:75%;
    }

    #readMore{
        font-size:33px;
    }

    .contentOfTheImageAndText{
        font-size: 28px;
    }

    #imageMain{
        width:50%;
        margin-left: 25%;
    }

    .titleOfTextDiv{
        font-size: 32px;
    }
}

@media screen and (max-width: 730px){

    .contentOfTheBox{
        font-size: 24.5px;
    }

    .titleOfMainText{
        font-size:32px;
    }

    .contentOfTheImageAndText{
        font-size: 25px;
    }

    .titleOfTextDiv{
        font-size: 28px;
    }

    .DivOfTitleOfTextDiv{
        height:5vh;
    }

    #imageMain{
        width:70%;
        margin-left: 15%;
        height: 55vh;
    }
}