* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #b2cacf;
}

svg path{
    fill: #4d7934;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover{
    fill: #5fa738;
    transition: 0.6s;
    cursor: pointer;
}

section{
    padding: 30px 0 50px 0;
}