*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height:8vh;
	font-family: 'Open Sans', sans-serif;
	background-color: #168eba;
}

.logo{
	
	height: 10%;
	width:;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
}
.nav-links li{
	list-style: none;
}

.nav-links a{
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}